<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>Kishorelytics</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="site-wrapper">
        <main class="main-content">
            {% block body %}
            {% endblock %}
        </main>
        
        <footer class="app-footer">
            <p>Learning Platform - Powered By Kishorelytics. All rights are reserved. &copy; 2025</p>
        </footer>
        </div>
</body>
</html>